body {
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/00/52/5657fde27d6e715.jpg);
	background-size: cover;
}

h1 {
	text-align:center;
	font-size: 100px;
	font-family: 'Permanent Marker', cursive;
	color: black;
	text-shadow: 3px 3px white;
}

.btn {
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  text-align:center;
}
